ciudades.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- elemento raiz que es ciudades -->
    <xs:element name="CIUDADES"/>

    <!-- definimos elementos finales o simples -->
    <xs:element name="NOMBRE" type="xs:string"/>
    <xs:element name="PAIS" type="xs:string"/>
    <xs:element name="CONTINENTE" type="xs:string"/>

    <!-- definimos el elemento ciudad con estos tres simples -->
    <xs:element name="CIUDAD">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NOMBRE"/>
                <xs:element ref="PAIS"/>
                <xs:element ref="CONTINENTE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
