esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="COLECCION">
        <xs:complexType>
            <xs:sequence>
                <!-- declaracion de elemento raiz llamado en este caso COLECCION -->
                <xs:element ref="COLECCION" maxOccurs="unbounded">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- declaracion de elemento CD -->
    <xs:element name="CD">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TITLE" type="xs:string"/>
                <xs:element name="ARTIST" type="xs:string"/>
                <xs:element name="COUNTRY" type="xs:string"/>
                <xs:element name="COMPANY" type="xs:string"/>
                <xs:element name="PRICE" type="xs:decimal"/>
                <xs:element name="YEAR" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>